<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Chat</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="css/materialize.min.css">
        <link rel="stylesheet" href="css/common.css">
    </head>
    <body class="grey lighten-3">
        
        <div class="container">

            <div class="row">
                <div class="section col m7 offset-m1">
                    <h5 class="font-weight300">Socket.io Chat</h5>
                </div>
            </div>

            <div class="row">
                <div class="col m7 offset-m1 debug">
                    <div class="section z-depth-1 grey lighten-5">
                        <h1>Hello</h1>
                    </div>
                </div>

                <div class="col m3">
                    <div class="z-depth-1 debug">
                        <ul class="grey lighten-5 collection">
                            <li class="collection-item">
                                <img class="circle responsive-img" src="img/3.png" alt="">
                            </li>
                            <li class="collection-item">
                                Hello
                            </li>
                            <li class="collection-item">
                                Hello
                            </li>
                            <li class="collection-item">
                                Hello
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>

        <script type="text/javascript" src="js/jquery.min.js"></script>
        <script type="text/javascript" src="js/materialize.min.js"></script>
        <script type="text/javascript" src="js/angular.min.js"></script>

        <script type="text/javascript" src="/socket.io/socket.io.js"></script>
        <script type="text/javascript" src="js/common.js"></script>
    </body>
</html>